/* styles.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

header {
    background-color: #42b883;
    color: white;
    text-align: center;
    padding: 20px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    background-color: #42b883;
    justify-content: center;
}

nav li {
    margin: 10px;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 16px;
}

nav a:hover {
    text-decoration: underline;
}

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

section {
    margin-bottom: 20px;
}

h1, h2 {
    color: #333;
}

footer {
    text-align: center;
    background-color: #333;
    color: white;
    padding: 10px 0;
}

footer p {
    margin: 0;
}
